a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
  text-decoration: none;
  color: #000;
}

.clickableBlock{
width:700px;
cursor:pointer;
}

.tag{
display:inline-block;
padding-right:10px;
}

.sidebarContainer{
margin-left: 1029px;
margin-top: 70px;
//border: 1px solid;
}

.likeBlock{
display:block;
float:left;
width:50px;
padding-right:10px;
text-align:center;
}