<script>
    $(document).ready(function(event){
        var rating = document.getElementById('avgrating').firstChild.textContent;
        $('#btns').children().each(function(index){
            if (index < parseInt(rating, 10)){
                $(this).css("background", "#ffc107");
            }
        });
    });
</script>
                <!-- для добавления в индекс-->

<form action="" method="post">
    <div class="row">
        <div class="col-sm-5">
            <div class="rating-block" style="">
                <h4>Рейтинг конспекта: </h4>
                <h2 id="avgrating" class="bold padding-bottom-7">{{ article.get_rating_for_article.starCount__avg }}
                    <small>/ 5</small>
                </h2>
                <div id="btns">
                <button id="ratingBtn" type="button" value="1" class="btn btn-default btn-sm" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true">&#9733</span>
                </button>
                <button id="ratingBtn" type="button" value="2" class="btn btn-default btn-sm" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true">&#9733</span>
                </button>
                <button id="ratingBtn" type="button" value="3" class="btn btn-default btn-sm" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true">&#9733</span>
                </button>
                <button id="ratingBtn" type="button" value="4" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true">&#9733</span>
                </button>
                <button id="ratingBtn" type="button" value="5" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true">&#9733</span>
                </button>
                    </div>
            </div>
        </div>
    </div>
</form>