{% extends "CourseProject/wrapper.html"%}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/TabControlStyle.css" %}">
<script src="{% static "js/TabControl.js" %}"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<script>
    $(document).ready(function() {
    $('#example').DataTable();
    document.getElementById("defaultOpen").click();
} );
</script>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<div style="margin-top:0px; padding-top:0px;" class="tab container">
  <button style="width:50%" class="tablinks" onclick="openCity(event, 'Profile')">{% trans "Профиль" %}</button>
  <button style="width:50%" class="tablinks" id="defaultOpen" onclick="openCity(event, 'ArticlesTab')">{% trans "Конспекты" %}</button>
</div>
<!-- Tab content -->
<div id="Profile" style="background:white;" class="tabcontent container">
    <form style=" margin-left:40%;" method="post" action="{% url 'edit_user' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% for item in form %}
        {{ item.label }}
        <br>
        {{ item }}
        <br>
        {% endfor %}

        <!--<p>Имя пользователя</p>-->
        <!--<input type="text" name="username" id="username">-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<br>-->
        <!--<p>Пароль</p>-->
        <!--<input type="text" name="password" is="password">-->
        <input style="margin-top:10px; margin-left:6%;" type="submit" value="Create" class="btn btn-default">
    </form>
</div>





<div id="ArticlesTab" style="background:white;" class="tabcontent container">
{% if articles.count > 0 %}
<div style="padding-top:10px; width:1200px;" class="container">
    <table id="example" class="table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>{% trans "Название" %}</th>
            <th>{% trans "Дата создания" %} </th>
            <th>{% trans "Удаление" %}</th>
        </tr>
        </thead>
        {% for item in articles %}
        <!--<tbody>-->
        <tr>
            <td><a href="edit/{{ item.id }}">{{ item.name }}</a></td> <!---->
            <td>{{ item.creationDate }}</td>
            <td><a href="{% url 'delete_article' userid=item.user.id id=item.id %}">{% trans "удалить" %}</a></td> <!--<a href="delete/{{item.id}}">удалить</a>-->
        </tr>
        <!--</tbody>-->
        {% endfor %}
    </table>
    {% else %}
    <div>
<h1 style="text-align:  center;">{% trans "Пока нет конспектов" %}</h1>
        <center><button style="margin-top" onclick="location.href='{% url 'create_article' userid=user.id %}'">{% trans "Создать конспект" %}</button></center>
        </div>
</div>

{% endif %}
    </div>
{% endblock %}
